# Servers

/client/node_modules
/services/user/node_modules
/services/post/node_modules
/services/gateway/node_modules

# Angular Client

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/node_modules
/client/npm-debug.log
/client/yarn-error.log

# IDEs and editors
/client/.idea/
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# Visual Studio Code
/client/.vscode/
/client/.history/*

# Miscellaneous
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings

# System files
/client/.DS_Store
/client/Thumbs.db
